 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1216px;
}

.u-section-1 .u-shape-1 {
  width: 1120px;
  height: 867px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 249px auto 0;
}

.u-section-1 .u-image-1 {
  width: 569px;
  height: 569px;
  background-image: url("images/112.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -1047px auto 0;
}

.u-section-1 .u-group-1 {
  width: 623px;
  min-height: 268px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 800;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1269px;
  }

  .u-section-1 .u-shape-1 {
    height: 860px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-1 .u-shape-1 {
    height: 690px;
    margin-top: 28px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-top: -911px;
  }

  .u-section-1 .u-group-1 {
    width: 476px;
    min-height: 225px;
    margin-bottom: -86px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-shape-1 {
    height: 570px;
    margin-top: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -804px;
  }

  .u-section-1 .u-group-1 {
    width: 349px;
    min-height: 182px;
    margin-top: -12px;
    margin-bottom: -125px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-1 .u-shape-1 {
    height: 341px;
    margin-top: 80px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 243px;
    height: 243px;
    margin-top: -406px;
  }

  .u-section-1 .u-group-1 {
    width: 225px;
    min-height: 154px;
    margin-top: -42px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 15px;
  }
} .u-section-2 {
  min-height: 444px;
}

.u-section-2 .u-line-1 {
  transform-origin: right center 0px;
  border-style: double;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px auto 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 372px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0 4px;
}

.u-section-2 .u-image-1 {
  min-height: 372px;
  background-image: url("images/a70078b3-17e4-32fd-59af-6a6a8df4eeaa.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 379px;
  }

  .u-section-2 .u-line-1 {
    height: 20px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 307px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 307px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 307px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 235px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 525px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 353px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 585px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 222px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 556px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 50px 0;
}

.u-section-3 .u-image-1 {
  min-height: 456px;
  background-image: url("images/n1.jpg");
  background-position: 87.44% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 456px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 376px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-3 .u-image-1 {
    min-height: 288px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 432px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 272px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 470px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 50px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  line-height: 1.8;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0 10px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-gallery-1 {
  height: 420px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 708px;
  }

  .u-section-4 .u-gallery-1 {
    height: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1062px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 390px;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 15px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 234px;
  }

  .u-section-4 .u-gallery-1 {
    height: 222px;
  }
}.u-block-6eef-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-6eef-3 {
  position: absolute;
  left: 0;
}

.u-block-6eef-4 {
  position: absolute;
  right: 0;
}

 .u-section-5-1 {
  background-image: url("images/8.jpg");
  background-position: 50% 50%;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 523px;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 248px;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 337px;
  }
}

 .u-section-5-2 {
  background-image: url("images/9.jpg");
  background-position: 50% 50%;
}

.u-section-5-2 .u-sheet-1 {
  min-height: 523px;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 248px;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 156px;
  }
}

 .u-section-5-3 {
  background-image: url("images/10.jpg");
  background-position: 50% 50%;
}

.u-section-5-3 .u-sheet-1 {
  min-height: 523px;
}

@media (max-width: 1199px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 248px;
  }
}

@media (max-width: 575px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 156px;
  }
}

 .u-section-5-4 {
  background-image: url("images/111.jpg");
  background-position: 50% 50%;
}

.u-section-5-4 .u-sheet-1 {
  min-height: 523px;
}

@media (max-width: 1199px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 248px;
  }
}

@media (max-width: 575px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 156px;
  }
} .u-section-6 {
  min-height: 500px;
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 399px;
  }
}