* {
   text-decoration: none;
   margin: 0;
   padding: 0;
}

body {
   background-color: #ffffff;
   height: 1500px;
}

header {
   margin: 0;
   padding: 0;
   width: auto;
   display: block;
   height: 749px;
   background-size: 100% 100%;
   background-image: url("img/h1.png");
}

header h1 {
   font-family: 'Manrope', sans-serif;
   color: #350B0B;
   text-transform: uppercase;
   padding-top: 300px;
   padding-left: 70px;
   font-size: 5em;
}

header p {
   color: #350B0B;
   font-family: 'Manrope', sans-serif;
   font-size: 1.1em;
   padding-left: 70px;
}

header button {
   width: 150px;
   height: 50px;
   margin-top: 15px;
   margin-left: 70px;
   background: #350B0B;
   color: white;
   border: none;
   font-weight: bold;
   cursor: pointer;
   border-radius: 10px 50px 10px 50px;
   transition: all 0.5s;
}

header button:hover {
   background-color: rgba(255, 227, 227, 0.3);
   color: #350B0B;
   transition: all 0.5s;
}

.content1 {
   width: auto;
   margin-top: 50px;
   font-family: 'Caveat', cursive;
   font-size: 30px;
}

* {
   margin: 0;
   box-sizing: border-box;
}

.post-wrap {
   max-width: 1120px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.post-item {
   padding: 10px;
}

.post-link {
   text-decoration: none;
   display: block;
   color: #350B0B;
   font-weight: 500;
   position: relative;
   z-index: 5;
}

.post-item-wrap {
   position: relative;
   background-color: #ffffff;
   background-image: radial-gradient(#350B0B 2px, transparent 2px);
   background-size: 6px 6px;
}

.post-item-wrap img {
   display: block;
   width: 100%;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
   transition: .3s;
}

.post-item:hover .post-item-wrap img {
   transform: translate(12px, 12px);
}

.line {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
   margin: 12px 0 0 12px;
   opacity: 0;
   transition: .3s;
}

.line:before {
   content: "";
   position: absolute;
   bottom: -15px;
   left: 50%;
   width: 5px;
   height: 5px;
   margin: 0 0 0 -2px;
   background: #350B0B;
   border-radius: 50%;
}

.line:after {
   content: "";
   position: absolute;
   width: 1px;
   left: 50%;
   height: 50px;
   top: 100%;
   bottom: 0;
   margin-top: 13px;
   transform: scaleY(-1);
   background: linear-gradient(to bottom, rgba(252, 71, 62, 0) 0%, rgba(53, 11, 11, 1) 100%);
}

.post-item:hover .line {
   opacity: 1;
}

.post-item-wrap:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0;
   background:  rgba(255, 227, 227, 1);;
   transition: .3s;
}

.post-item:hover .post-item-wrap:after {
   opacity: .7;
   top: 12px;
   left: 12px;
   right: -12px;
   bottom: -12px;
}

@media (min-width: 768px) {
   .post-item {
      flex-basis: 50%;
      flex-shrink: 0;
   }
}

@media (min-width: 960px) {
   .post-item {
      flex-basis: 33.333333333%;
   }
}